<header style="font: serif">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light py-2">
        <a class="navbar-brand py-2 px-4 align-middle" href="/index#home">
            <img src="../images/web-icon.webp" width="38" height="40" class="d-inline-block align-middle me-2" alt="">
            DaisyDoodles
        </a>
        <button class="navbar-toggler ml-2 me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav nav-pills ms-auto mx-4 custom-center" style="font-family: Plus Jakarta Sans">
                <li class="nav-item">
                    <a class="nav-link" href="/index#featured" aria-label="Featured">Featured</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index#about" aria-label="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" href="/index#projects" aria-label="Projects">Projects</a>
                </li>
                <button id="wallet-connect" type="button" class="btn btn-outline-dark px-2 py-1 navbar-collapse-button" style="font-family: DM Serif Text;" aria-label="Connect Wallet">Connect Wallet</button>
            </ul>
        </div>
    </nav>
</header>
