<div class="card">
    <div class="card-body">
      <img src="<%= image %>" class="card-img-top pb-3" alt="An image of the <%= name %> project">
      <h5 class="card-title mb-3"><%= name %></h5>
      <a href="/project/<%=ident%>" class="btn btn-sm px-2 py-1 mb-4">Project Details</a>
    </div>
</div>
