html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

header {
  border: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-family: "DM Serif Text", serif;
}

h5 {
  font-size: 28px;
}

.navbar .nav-item a {
  color: teal;
}

#input-message {
  border: 2px dotted;
  border-color: dimgrey;
}

.form-floating {
  color:rgba(105, 105, 105, 0.6);
}

.form-control {
  border: 0px;
  border-bottom: 2px dotted;
  border-color: dimgrey;
  border-radius: 0px;
  text-align: left;
}

.form-control::placeholder {
  color: rgba(71, 71, 71, 0.3);
  opacity: 1; /* Firefox */
}


/* use this to see where border, padding, margin is located */
/* .div {
  padding: 1px solid red;
  border: 2px solid orange;
  margin: 3px solid yellow; 
} */

.card-body {
  padding-top: 2;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

.card-title {
  margin: 2;
}

.card-text {
  margin: 2;
}

.btn-primary {
  background-color: teal;
  border-color: teal;
}

/* .repeating-text-background {
      position: fixed;
      top: 0;
      left: 0;
      right: 100%;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      z-index: -1;
}
.repeating-text-background::before {
  content: 'ntact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact';
  position: absolute;
  padding: 0;
  left: -20%;
  right: 100%;
  width: 300%;
  height: 200%;
  background: linear-gradient(transparent, transparent) repeat;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.1);
  line-height: 40px;
  z-index: 1;
}
.content {
  position: relative;
  z-index: 2;
  padding: 0;
} */

