html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

header {
  border: 0;
}

body {
    font-family: "DM Serif Text", serif; 
}

div {
  border: 1px solid lightseagreen;
}
