html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

header {
  border: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-family: "DM Serif Text", serif;
}

h5 {
  font-size: 28px;
}

div {
  /* border: 1px solid lightseagreen; */
}

